@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange: #d26a22;
$dark-orange: #cf5c0d;
$wh: #fff;

$font-jost: 'Jost', sans-serif;
$font-cormorant: 'Cormorant', serif;

$r_minmob:320px;
$r_mob_360:360px;
$r_mob_400:400px;
$r_mob_500:500px;
$r_mob_600:600px;
$r_tab:768px;
$r_tab_900:900px;
$r_desk:1000px;
$r_desk_1120:1120px;
$r_desk_hd:1200px;
$r_desk_1280:1280px;
$r_desk_1350:1350px;
$r_desk_full_1750:1750px;

html
{
    font-size: 10px;
    @media (max-width:$r_mob_500) 
    {
        font-size: 8px;
    }
}

body
{
    font-size: 1.6rem;
    font-family: $font-jost;
    color: $green;
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.header
{
    max-width: 1440px;
    margin: 0 auto 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 15px 0 15px;
    gap: 5%;
    @media(max-width: $r_desk_1280)
    {
        gap: 3%;
    }
    @media (max-width: $r_tab) {
        margin-bottom: 0;
    }
    &__navigation 
    {
        flex-grow: 1;
        margin-left: 4.5rem;
        @media(max-width: $r_desk_1280)
        {
            margin-left: 0;
        }
        @media(max-width: $r_desk_hd)
        {
            flex-grow: 0;
        }
    }
    &__nav
    {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap: 4.8rem;
        @media(max-width: $r_desk_hd)
        {
            gap: 2.5rem;
        }
        @media(max-width: $r_tab_900)
        {
            display: none;
        }
    }
    &__link
    {
        color: $green;
        text-decoration: none;
        transition: 0.3s;
        &:hover
        {
            color: $orange;
        }
    }
    &__tel
    {
        color: $green;
        text-decoration: none;
        flex-basis: 200px;
        text-align: right;
        transition: 0.3s;
        font-weight: 500;
        letter-spacing: 0.13rem;
        margin-right: 8px;
        &:hover
        {
            color: $orange;
        }
        @media(max-width: $r_desk_hd)
        {
            display: none;
        }
    }
    &__cart
    {
        display: block;
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 1.7rem 1.5rem;
        background-image: url(../img/cart.svg);
        background-color: $orange;
        position: relative;
        border: 1px solid $orange;
        cursor: pointer;
        transition: 0.3s;
        padding: 0;
        &:hover
        {
            background-color: $green;
            border: 1px solid $green;
            @media(max-width: $r_desk_hd)
            {
                background-color: transparent;
                opacity: 1;
            }
        }
        @media(max-width: $r_desk_hd)
        {
            background-image: url(../img/cart-mobi.svg);
            background-color: transparent;
            border: 1px solid $green;
            opacity: 0.8;
        }
        @media (max-width:$r_mob_500) 
        {
            width: 4.5rem;
            height: 4.5rem;
            background-size: 2rem;
        }
    }
    &__counter
    {
        font-size: .8rem;
        color: $wh;
        position: absolute;
        right: .6rem;
        top: .6rem;
        @media(max-width: $r_desk_hd)
        {
            color: $green;
        }
        @media (max-width:$r_mob_500) 
        {
            font-size: 1rem;
        }
    }
    &__phone, &__menu
    {
        display: none;
    }
    &__phone
    {
        @media(max-width: $r_desk_hd)
        {
            display: block;
            width: 4rem;
            height: 4rem;
            border-radius: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 1.7rem 1.5rem;
            background-image: url(../img/tel.svg);
            background-color: transparent;
            position: relative;
            border: 1px solid $green;
            transition: 0.3s;
            opacity: 0.8;
            padding: 0;
        }
        @media (max-width:$r_mob_500) 
        {
            width: 4.5rem;
            height: 4.5rem;
            background-size: 1.9rem;
        }
        &:hover
        {
            opacity: 1;
        }
    }
    &__menu
    {
        @media(max-width: $r_tab_900)
        {
            display: block;
            width: 4rem;
            height: 4rem;
            border-radius: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 1.7rem 1.5rem;
            background-image: url(../img/menu.svg);
            background-color: transparent;
            position: relative;
            border: 1px solid $green;
            transition: 0.3s;
            opacity: 0.8;
            padding: 0;
            cursor: pointer;
        }
        @media (max-width:$r_mob_500) 
        {
            width: 4.5rem;
            height: 4.5rem;
            background-size: 2rem;
        }
        &:hover
        {
            opacity: 1;
        }
    }
    &__buttons
    {
        @media(max-width: $r_desk_hd)
        {
            display: flex;
            align-items: center;
            gap: 1.5rem;
        }
        @media (max-width:$r_mob_500) 
        {
            gap: 1.4rem;
        }
    }
}
.logo
{
    display: block;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 12rem;
    height: 3.2rem;
    &-footer 
    {
        height: 4.8rem;
        margin-top: 7px;
        flex-basis: 18rem;
        @media (max-width: $r_desk) 
        {
            display: none;
        }
        @media (max-width: $r_tab) 
        {
            display: block;
            flex-basis: auto;
            width: 13rem;
            height: 3.8rem;
            margin: 0 auto 3rem;
        }
    }
}
.container
{
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    @media (max-width: $r_tab)
    {
        max-width: 600px;
    }
}
.main
{
    padding-bottom: 187px;
    z-index: 0;
    @media (max-width: $r_tab) 
    {
        padding-bottom: 1rem;
    }
    &__item
    {
        margin-left: 12.2rem;
        max-width: 378px;
        margin-top: 6.1rem;
        @media (max-width: $r_desk_1280)
        {
            margin-left: 8rem;
        }
        @media (max-width: $r_desk_1120)
        {
            max-width: 300px;
            margin-left: 4rem;
        }
        @media (max-width: $r_tab)
        {
            max-width: 100%;
            text-align: center;
            margin-left: 0;
            margin-top: 3rem;
        }
    }
    &__link
    {
        margin-top: 5.5rem;
        @media (max-width: $r_tab)
        {
            text-align: center;
        }
        @media (max-width:$r_mob_500) 
        {
            margin-top: 3.5rem;
        }
    }
    &__flex
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        @media (max-width: $r_desk)
        {
            padding-top: 3rem;
            padding-bottom: 9rem;
        }
    }
    &__cover
    {
        flex-basis: 758px;
        height: 758px;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        @media (max-width: $r_desk_1350)
        {
            flex-basis: 650px;
            height: 650px;
        }
        @media (max-width: $r_desk_hd)
        {
            flex-basis: 600px;
            height: 600px;
        }
        @media (max-width: $r_desk_1120)
        {
            flex-basis: 500px;
            border: 1px solid transparent;
            height: auto;
            flex-basis: calc(100% - 395px);
        }
        @media (max-width: $r_tab)
        {
            display: none;
        }
        
    }
    &__line
    {
        width: 656px;
        height: 656px;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (max-width: $r_desk_1350)
        {
            width: 600px;
            height: 600px;
        }
       @media (max-width: $r_desk_hd)
        {
            border: 1px solid transparent;
            width: auto;
            height: auto;
        } 
    }
    &__image
    {
        width: 92%;
        border-radius: 100%;
        animation: shadow 7s linear infinite;
    }
    &__imagemobi
    {
        display: none;
        @media (max-width: $r_tab)
        {
            display: block;
            max-width: 300px;
            margin: 0 auto;
            margin-top: 3rem;
            border-radius: 100%;
            animation: shadow 7s linear infinite;
        }
        @media (max-width:$r_mob_500)
        {
            max-width: 220px;
        }
        
    }
    &__text 
    {
        padding-top: 3rem;
        @media (max-width: $r_desk_1120)
        {
            flex-basis: 395px;
        }
        @media (max-width: $r_tab)
        {
            flex-basis: 100%;
            padding-top: 0;
        }
    }
    &__btn
    {
        cursor: pointer;
        background-color: transparent;
        border: none;
        padding: 0;
        position: absolute;
        color: $green;
        text-align: left;
        transition: 0.3s;
        text-decoration: none;
        &:hover
        {
             &::before
            {
                background-color: $orange;
                box-shadow: 0 0 0 4px $wh, 0 0 0 5px $orange;
            }
        }
        &::before
        {
            content: '';
            background-color: $green;
            width: 11px;
            height: 11px;
            border-radius: 100%;
            box-shadow: 0 0 0 4px $wh, 0 0 0 5px $green;
            position: absolute;
            transition: 0.3s;
        }
        &_1
        {
            top: 41px;
            left: 67px;
            line-height: 150%;
            transition: 0.3s;
            @media (max-width: $r_desk_1350)
            {
               top: 16px;
            }
            @media (max-width: $r_desk_hd)
            {
                top: 39px;
                left: 24px;
            }
            @media (max-width: $r_desk_1120)
            {
                display: none;
            }
            &::before
            {
               bottom: 12px;
               right: -35px;
            }
        }
        &_2
        {
            top: 188px;
            right: 2px;
            line-height: 150%;
            transition: 0.3s;
            @media (max-width: $r_desk_1350)
            {
               top: 109px;
            }
            @media (max-width: $r_desk_hd)
            {
                top: 58px;
            }
            @media (max-width: $r_desk_1120)
            {
                display: none;
            }
            &::before
            {
                top: 17px;
                left: -25px;
            }
        }
        &_3
        {
            bottom: -46px;
            right: 244px;
            line-height: 150%;
            transition: 0.3s;
            @media (max-width: $r_desk_1350)
            {
               bottom: -55px;
            }
            @media (max-width: $r_desk_hd)
            {
                bottom: -58px;
            }
            @media (max-width: $r_desk_1120)
            {
                display: none;
            }
            &::before
            {
                top: -15px;
                left: 13px;
            }
        }
    }
    &__food
    {
        display: block;
        color: rgba($color: $green, $alpha: 0.8);
    }
    &__tomato
    {
        position: absolute;
        top: 839px;
        right: 151px;
        width: 11rem;
        z-index: -1;
        @media (max-width: $r_desk_full_1750) 
        {
            width: 9.8rem;
            right: 88px;
        }
        @media (max-width: $r_desk_hd) 
        {
            top: 750px;
        }
        @media (max-width: $r_desk_1120) 
        {
            width: 8rem;
            top: 100px;
            left: -15px;
        }
        @media (max-width: $r_mob_500) 
        {
            top: 137px;
        }
    }
    &__cucumber
    {
        position: absolute;
        top: 0;
        left: 719px;
        width: 8.5rem;
        z-index: -1;
        @media (max-width: $r_desk_hd) 
        {
            left: 500px;
            width: 7.5rem;
        }
        @media (max-width: $r_tab) 
        {
            left: 200px;
        }
        @media (max-width: $r_mob_500) 
        {
            left: 100px;
        }
    }
    &__pepper
    {
        position: absolute;
        top: 396px;
        left: 69px;
        width: 8.6rem;
        z-index: -1;
        @media (max-width: $r_desk_full_1750) 
        {
            top: 222px;
            left: 0;
        }
        @media (max-width: $r_desk_hd) 
        {
            top: 175px;
            left: 0;
        }
        @media (max-width: $r_desk_1120) 
        {
            top: 680px;
            left: 800px;
            transform: rotate(190deg);
        }
        @media (max-width: $r_desk) 
        {
            left: 600px;
        }
        @media (max-width: $r_tab) 
        {
            top: 625px;
            left: 500px;
            width: 6rem;
        }
        @media (max-width: $r_mob_600) 
        {
            left: 400px;
        }
        @media (max-width: $r_mob_500) 
        {
            top: 590px;
            left: 300px;
        }
        @media (max-width: $r_mob_400) 
        {
            left: 250px;
        }
    }
    &__beans
    {
        position: absolute;
        top: 796px;
        left: 0;
        width: 10.5rem;
        z-index: -1;
        @media (max-width: $r_desk_hd) 
        {
            top: 640px;
            width: 8rem;
        }
        @media (max-width: $r_mob_500) 
        {
            top: 460px;
            width: 6rem;
        }
    }
    &__avocado
    {
        position: absolute;
        top: 45px;
        right: 30px;
        width: 18rem;
        z-index: -1;
        @media (max-width: $r_desk_full_1750) 
        {
            width: 9.8rem;
            top: 120px;
            right: 0px;
        }
        @media (max-width: $r_mob_500) 
        {
            width: 6rem;
            top: 75px;
            right: 0px;
        }
    }
   
}
.title
{
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 8rem;
    line-height: 1;
    margin: 0;
    @media (max-width: $r_desk_1280)
    {
        font-size: 7rem;
    }
    @media (max-width: $r_desk_1120)
    {
        font-size: 6rem;
    }
    @media (max-width: $r_tab)
    {
        text-align: center;
    }
    &__span
    {
        font-style: italic;
    }
    &_block
    {
        .title__span
        {
            display: block;
        }
    }
}
.description
{
    margin: 0;
    line-height: 1.45;
    @media (max-width: $r_tab)
    {
        text-align: center;
    }
    &_size-s
    {
        font-size: 1.8rem;
        @media (max-width: $r_desk_1280)
        {
            font-size: 1.6rem;
        }
    }
    &_size-m
    {
        font-size: 2.4rem;
        @media (max-width: $r_desk_1280)
        {
            font-size: 2.2rem;
        }
    }
}
.link
{
    color: $wh;
    letter-spacing: 0.13rem;
    text-transform: uppercase;
    padding: 2.4rem 4.3rem;
    background-color: $orange;
    box-shadow: 0px 1rem 1.1rem .2rem rgba(207, 92, 13, 0.2);
    text-decoration: none;
    border-radius: 38px;
    display: inline-block;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
    @media (max-width: $r_desk_1280)
    {
        font-size: 1.4rem;
    }
    &:hover
    {
        background-color: $dark-orange;
    }
    &_min
    {
        font-size: 1.4rem;
        padding: 2rem 3.4rem;
        box-shadow: 0px 1rem 1.1rem 0.17rem rgba(207, 92, 13, 0.15);
        flex-grow: 1;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        @media (max-width: $r_desk_1350) 
        {
            margin: 0 auto;
        }
        @media (max-width: $r_tab) 
        {
            padding: 1.4rem 3.4rem;
        }
    }
    &_max 
    {
        padding: 1.7rem 4.8rem;
        @media (max-width: $r_desk_full_1750) 
        {
            padding: 1.3rem 4rem;
        }
        @media (max-width: $r_desk_1350) 
        {
            margin: 0 auto;
        }
    }
}
.offer
{
    padding-top: 1.7rem;
    padding-bottom: 12.8rem;
    @media (max-width: $r_tab) 
    {
        padding-top: 0;
        padding-bottom: 4rem;
    }
    &__text
    {
        margin-top: 6rem;
        max-width: 700px;
    }
}
.slider
{
    overflow: hidden;
    padding-top: 9.4rem;
    @media (max-width: $r_tab)
    {
        max-width: 430px;
        margin: 0 auto;
        padding-top: 5.4rem;
        padding-bottom: 6rem;
    }
    @media (max-width: $r_mob_500) {
        max-width: 210px;
        padding-bottom: 7rem;
    }
}
.swiper
{
    overflow: initial;
    &-slide
    {
        border: 1px solid rgba($color: $green, $alpha: 0.4);
        border-radius: 20px;
        padding: 3rem 3.7rem 3.8rem;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: cover;
        transition: 0.3s;
        position: relative;
        z-index: 0;
        &_white
        {
            height: 520px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            background-size: contain;
            padding: 4rem 3.7rem;
            @media (max-width: $r_desk_hd)
            {
                height: 400px;
            }
            @media (max-width: $r_tab) 
            {
                text-align: center;
                padding: 1.2rem 1.7rem;
            }
            @media (max-width: $r_mob_500) 
            {
                height: 249px;
            }
            
            &:hover
            {
                .swiper-slide__hover
                {
                height: 233px;
                opacity: 1;
                @media (max-width: $r_tab) 
                {
                    height: auto;
                }
                }
                &::after
                {
                content: '';
                background-color: rgba($wh, .55);
                width: calc(100% - 4px);
                height: calc(100% - 4px);
                position: absolute;
                top: 2px;
                left: 2px;
                border-radius: 20px;
                z-index: -1;
                }
            }
        }
        &:hover
        {
            box-shadow: 0 0 0 2px rgba($color: $green, $alpha: 0.4) inset;  
        }
        &_milk
        {
            background-image: url(../img/milk.png);
        }
        &_pasta
        {
            background-image: url(../img/pasta.png);
        }
        &_meat
        {
            background-image: url(../img/meat.png);
            background-size: cover;
            background-position: center center;
        }
        &__title
        {
            font-family: $font-cormorant;
            font-size: 3rem;
            margin-bottom: 0;
            @media (max-width: $r_desk_1280) 
            {
                font-size: 2.4rem;
            }
            @media (max-width: $r_desk_1120) 
            {
                font-size: 2.15rem;
            }
            @media (max-width: $r_tab_900) 
            {
                text-align: center;
            }
            @media (max-width: $r_mob_500) 
            {
                font-size: 1.75rem;
                margin-top: 0;
                margin-bottom: 2rem;
            }
        }
        &__hover
        {
            height: 0;
            opacity: 0;
            transition: 0.3s;
            @media (max-width: $r_tab) 
            {
                height: auto;
                opacity: 1;
            }
        }
        &__text
        {
            color:rgba($green, 0.7);
            line-height: 1.5;
            margin-top: 2.5rem;
            margin-bottom: 3.4rem;
            max-width: 263px;
            @media (max-width: $r_tab)
            {
                display: none;
            }
        }
        &__link
        {
            text-transform: uppercase;
            font-weight: 500;
            color: $green;
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 2rem;
            letter-spacing: 0.1rem;
            transition: 0.2s;
            opacity: 0.7;
            @media (max-width: $r_tab) 
            {
                justify-content: center;
                font-size: 1.25rem;
                gap: 9px;
            }
            &::before
            {
                content: '';
                display: block;
                width: 3rem;
                height: 3rem;
                background-image: url(../img/plus.svg);
                background-size: contain;
                background-repeat: no-repeat;
                @media (max-width: $r_tab) 
                {
                    width: 2.5rem;
                    height: 2.5rem;
                }
            }
            &:hover
            {
                opacity: 1;
            }
        }
        &__cover
        {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 322px;
            text-align: center;
            @media (max-width: $r_desk_hd) 
            {
                height: 200px;
            }
        }
        &__image
        {
            height: 100%;
            object-fit: contain;
            max-width: 351px;
            width: 100%;
        }
        &__footer
        {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 5%;
        }
        &__description
        {
            color:rgba($green, 0.7);
            line-height: 1.5;
            margin-top: 2rem;
            margin-bottom: 0rem;
            max-width: 300px;
            font-size: 1.8rem;
            min-height: 55px;
            @media (max-width: $r_desk_1280) 
            {
                font-size: 1.5rem;
            }
            @media (max-width: $r_tab_900) 
            {
                text-align: center;
                margin: 0 auto;
                margin-top: 2rem;
            }
        }
        &__price
        {
            font-size: 2.4rem;
            margin-bottom: 3rem;
            @media (max-width: $r_desk_1280) 
            {
                font-size: 2.2rem;
            }
            @media (max-width: $r_tab_900) 
            {
                text-align: center;
            }
        }
    }
    &-pagination
    {
        display: none;
        @media(max-width:$r_tab)
        {
            display: block;
        }
    }

    &-button-next, &-button-prev
    {
        top: -60px;
        @media(max-width:$r_tab)
        {
            display: none;
        }
        &::after 
        {
            color: rgba($green, 0.4);
            font-size: 20px;
            transition: 0.3s;
        }

        &:hover 
        {
            &::after 
            {
                color: rgba($green, 1);         
            }
        }
    } 
    &-button-next {
        right: -8px;
    }

    &-button-prev {
        left: initial;
        right: 72px;
    }
}
.swiper-horizontal>.swiper-pagination-bullets
{
    bottom: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-pagination-bullet-active
{
    background: $orange;
    border: 1px solid $orange;
    animation: pulse 3s linear infinite;
}
.swiper-pagination-bullet
{
    width: 8px;
    height: 8px;
}
.counter
{
    display: flex;
    @media (max-width: $r_desk) 
    {
        flex-basis: content;
    }
    @media (max-width: $r_tab_900) 
    {
        display: none;
    }
    &__btn
    {
        cursor: pointer;
        height: 50px;
        width: 50px;
        border: 1px solid $green;
        border-radius: 100%;
        background-color: transparent;
        padding: 0;
        background-position: center center;
        @media (max-width: $r_desk_full_1750) 
        {
            width: 47px;
            height: 47px;
        }
        @media (max-width: $r_tab_900) 
        {
            width: 40px;
            height: 40px;
        }
    
        &_min
        {
            width: 40px;
            height: 40px;
        }
    }
    
    &__minus
    {
        pointer-events: none;
        background-image: url(../img/minus.png);
        background-size: 14px 2px;
        background-repeat: no-repeat;
        opacity: 0.4;
    }
    &__plus
    {
        background-image: url(../img/plus-cat.svg);
        background-size: 14px 14px;
        background-repeat: no-repeat;
    }
    &__input
    {
        text-align: center;
        border: none;
        font-size: 2.4rem;
        width: 46px;
        padding: 0;
        @media (max-width: $r_desk_1280) 
        {
            font-size: 2.2rem;
        }
        @media (max-width: $r_tab_900) 
        {
            width: 36px;
        }
        &_min 
        {
            width: 33px;
        }
    }
    & + .link {
        flex-grow: 1;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
}
.about
{
    padding-top: 37px;
    padding-bottom: 154px;
    @media (max-width: $r_tab) 
    {
        padding-bottom: 6rem;
    }
    &__box
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 7rem;
        @media (max-width: $r_desk_1350) 
        {
            gap: 4rem;
        }
        @media (max-width: $r_tab) 
        {
            flex-direction: column;
            gap: 4rem;
            margin-top: 4rem;
        }
    }
    &__text
    {
        margin-left: 12rem;
        flex-basis: 615px;
        @media (max-width: $r_desk_1280)
        {
            margin-left: 8rem;
        }
        @media (max-width: $r_desk_1120)
        {
            flex-basis: 400px;
            margin-left: 7rem;
        }
        @media (max-width: $r_tab_900)
        {
            flex-basis: 300px;
        }
        @media (max-width: $r_tab)
        {
            max-width: 100%;
            text-align: center;
            margin-left: 0;
            margin-top: 3rem;
            flex-basis: 0;
        }
    }
    &__list
    {
        margin: 0;
        padding-left: 0;
        display: flex;
        gap: 9rem;
        font-family: $font-cormorant;
        font-style: italic;
        list-style-type: none;
        font-size: 3rem;
        @media (max-width: $r_desk_1350) 
        {
            gap: 5rem;
            font-size: 2.2rem;
        }
        @media (max-width: $r_desk) 
        {
            gap: 3rem;
            font-size: 2rem;
        }
        @media (max-width: $r_tab) 
        {
            gap: 4rem;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &::before {
            content: '';
            width: 84px;
            height: 84px;
            background-position: center center;
            background-repeat: no-repeat;
            border: 1px solid rgba($green, 0.4);
            border-radius: 100%;
            margin-bottom: 1.5rem;
        }
        &:nth-child(1) {
            &::before {
                background-image: url(../img/fruit.png);
                background-size: 44px 41px;
            }
        }
        &:nth-child(2) {
            &::before {
                background-image: url(../img/traditional.png);
                background-size: 40px 40px;
            }
        }
        &:nth-child(3) {
            &::before {
                background-image: url(../img/good.png);
                background-size: 45px 39px;
            }
        }
    }
}
.trends
{
    padding-top: 30px;
    padding-bottom: 135px;
    &__text
    {
        margin-top:4rem;
        letter-spacing: 1px;
    }
}
.catalog
{
    padding-top: 5.9rem;
    padding-bottom: 13.5rem;
    @media (max-width: $r_tab) 
    {
        padding-bottom: 8rem;
    }
    &__text
    {
        margin-top: 3.89rem;
        letter-spacing: 1px;
    }
    &__nav
    {
        display: flex;
        list-style-type: none;
        gap: 2rem;
        padding-left: 0;
        align-items: center;
        margin: 8.5rem 0 5rem 0;
        @media (max-width: $r_desk_1280) 
        {
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: center;
        }
    }
    &__item
    {
        flex-basis: 230px;
        text-align: center;
        @media (max-width: $r_desk_1350) 
        {
            flex-basis: 200px;
        }
        @media (max-width: $r_tab) 
        {
            flex-basis: 180px;
        }
    }
    &__link
    {
        text-decoration: none;
        color: rgba($color: $green, $alpha: 0.5);
        background-color: transparent;
        border: 1px solid rgba($color: $green, $alpha: 0.5);
        padding: 2.4rem 0;
        border-radius: 40px;
        display: block;
        transition: 0.3s;
        font-size: 1.8rem;
        @media (max-width: $r_desk_1280) 
        {
            padding: 2rem 0;
            font-size: 1.65rem;
        }
        @media (max-width: $r_tab) 
        {
            padding: 1.4rem 0;
            font-size: 1.5rem;
        }
        &:hover
        {
            color: $orange;
            border: 1px solid $orange;
        }
    }
    &__btn 
    {
        cursor: pointer;
        margin: 6rem auto 0;
        border: none;
        background-color: transparent;
        text-transform: uppercase;
        color: $green;
        display: flex;
        align-items: center;
        gap: 1.8rem;
        letter-spacing: 1px;
        opacity: 0.8;
        transition: 0.3s;

        &::before 
        {
            content: '';
            display: block;
            background-image: url(../img/refresh.svg);
            width: 24px;
            height: 24px;
            background-size: contain;
            background-repeat: no-repeat; 
            transition: 0.3s;
        }
        &:hover
        {
            opacity: 1;
            &::before
            {
                animation: spin 0.5s linear 1;
            }
        }
    }
}
.catalog-grid
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    @media (max-width: $r_desk_1280) 
    {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: $r_desk) 
    {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $r_tab) 
    {
        gap: 10px;
    }
    @media (max-width: $r_mob_500) 
    {
        grid-template-columns: repeat(1, 1fr);
    }
    &__item
    {
        border: 1px solid rgba($color: $green, $alpha: 0.4);
        padding: 2.7rem 3rem 3.8rem;
        box-sizing: border-box;
        border-radius: 20px;
        transition: 0.3s;
        background-color: $wh;
        @media (max-width: $r_desk_full_1750) 
        {
            padding: 2rem 2rem; 
        }
        &:hover 
        {
            box-shadow: 0 0 0 2px rgba($green, 0.4) inset;
        }
    }
    &__cover 
    {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 204px;
        text-align: center;
        @media (max-width: $r_tab) 
        {
            height: 150px;
        }
    }
    &__image 
    {
        width: 100%;
        max-width: 200px;
        height: 100%;
        object-fit: contain;
    }
    &__title 
    {
        font-family: $font-cormorant;
        font-size: 3rem;
        margin-top: 1.7rem;
        margin-bottom: 0;
        @media (max-width: $r_desk_1280) 
        {
            font-size: 2.4rem;
        }
        @media (max-width: $r_desk_1120) 
        {
            font-size: 2.15rem;
        }
        @media (max-width: $r_tab_900) 
        {
            text-align: center;
        }
        @media (max-width: $r_tab) 
        {
            font-size: 2rem;
        }
    }
    &__description 
    {
        font-size: 1.6rem;
        color: rgba($green, 0.7);
        margin-top: 1.8rem;
        margin-bottom: 0;
        min-height: 61px;
        max-width: 250px;
        line-height: 150%;
        @media (max-width: $r_desk_1280) 
        {
            font-size: 1.4rem;
        }
        @media (max-width: $r_tab_900) 
        {
            text-align: center;
            margin: 0 auto;
            margin-top: 1rem;
        }
    }
    &__price 
    {
        font-size: 2.4rem;
        margin-bottom: 3rem;
        margin-top: 0;
        @media (max-width: $r_desk_1280) 
        {
            font-size: 2.2rem;
        }
        @media (max-width: $r_tab_900) 
        {
            margin-bottom: 2rem;
            text-align: center;
        }
    }
    &__footer 
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5%;
    }
}
.delivery
{
    padding-top: 0.4rem;
    padding-bottom: 15.7rem;
    @media (max-width: $r_tab) 
    {
        padding-bottom: 12rem;
    }
    &-box
    {
        display: flex;
        gap: 12%;
        margin-top: 4.4rem;
        margin-left: 12.5rem;
        line-height: 150%;
        @media (max-width: $r_desk_1280) 
        {
            margin-left: 8rem;
        }
        @media (max-width: $r_desk_1120) 
        {
            gap: 5%;
            margin-left: 4rem;
        }
        @media (max-width: $r_tab) 
        {
            margin: 4rem auto 0;
            flex-direction: column;
            max-width: 500px;
        }
        &__text
        {
            font-size: 1.8rem;
            max-width: 580px;
            @media (max-width: $r_tab) 
            {
            text-align: center;
            }
            &-s
            {
                max-width: 480px;
            }
        }
        &__span
        {
            color: $orange;
        }
        &__link
        {
            color: $green;
            position: relative;
            text-decoration: none;
            transition: 0.3s;
            &:hover
            {
                color: $orange;
                &::after 
                {
                    background-color: $orange;
                }
            }
            &::after 
            {
                content: "";
                width: 100%;
                height: 1px;
                background-color: #858881;
                display: block;
                position: absolute;
                left: 0;
                bottom: 3px;
            }
        }
        &__check
        {
            margin-bottom: 1rem;
        }
        &__right
        {
            margin-right: 12rem;
            @media (max-width: $r_tab) 
            {
                margin: 0 auto;
            }
        }
        &__ul
        {
            display: flex;
            gap: 3rem;
            list-style: none;
            margin-top: 5rem;
            margin-bottom: 0;
            padding-left: 0;
            @media (max-width: $r_tab) 
            {
                justify-content: center;
            }
        }
        &__item
        {
            flex-basis: 230px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            cursor: pointer;
            opacity: .4;
            height: 32px;
            transform: scale(1);
            transition: .3s;
                &-card
            {
                background-image: url(../img/card.png);
                max-width: 53px;
            }
            &-visa
            {
                background-image: url(../img/visa.png);
                max-width: 74px;
            }
            &-pay
            {
                background-image: url(../img/paypal.png);
                max-width: 87px;
            }
            &:hover
            {
                opacity: 1;
                transform: scale(1.1);
            }
        }
    
    
    }
}
.contact
{    
    padding-bottom: 16.1rem;
    padding-top: 6rem;
    @media (max-width: $r_tab) 
    {
        padding-bottom: 7rem;
        padding-top: 3rem;
    }
    @media (max-width: $r_mob_500) 
    {
        padding-bottom: 4rem;
    }
    &-box
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $r_desk_1280) 
        {
            gap: 10%;
        }
        @media (max-width: $r_tab) 
        {
            flex-direction: column;
            gap: 6rem;
            text-align: center;
            max-width: 400px;
            margin: 0 auto;
        }
        &__text
        {
            max-width: 400px;
            flex-grow: 1;
            margin-top: 6.2rem;
            margin-left: 12.3rem;
            line-height: 175%;
            letter-spacing: 0.9px;
            @media (max-width: $r_desk_1280) 
            {
                margin-left: 8rem;
            }
            @media (max-width: $r_desk_1120) 
            {
                margin-left: 4rem;
            }
            @media (max-width: $r_tab) 
            {
                max-width: 100%;
                margin-left: 0;
                margin-top: 4rem;
            }
        }
        &__form
        {
            flex-basis: 589px;
            @media (max-width: $r_desk_1350) 
            {
                flex-basis: 530px;
            }
            @media (max-width: $r_desk_1280) 
            {
                flex-basis: auto;
                flex-grow: 1;
            }
            @media (max-width: $r_tab) 
            {
                flex-basis: 474px;
            }
        }
        &__list 
        {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 2rem;
            padding-left: 0;
            margin-top: 5.8rem;
            list-style: none;
            @media (max-width: $r_tab) 
            {
                flex-direction: row;
                margin-top: 3rem;
            }
        }
        &__tel, &__mail 
        {
            text-decoration: none;
            font-size: 2.4rem;
            font-weight: 500;
            color: $green;
            display: flex;
            align-items: center;
            gap: 3.4rem;
            letter-spacing: 0;
            @media (max-width: $r_tab) 
            {
                font-size: 1.6rem;
                gap: 1rem;
            }
            &::before 
            {
                content: '';
                display: block;
                width: 3rem;
                height: 3rem;
                background-size: contain;
                background-repeat: no-repeat;
            }
            &:hover 
            {
                color: $orange;
            }
        }
        
        &__tel 
        {
            &::before 
            {
                background-image: url(../img/phone.svg);
            }
        }
        
        &__mail 
        {
            &::before 
            {
                background-image: url(../img/mail.svg);
            }
        }
    }
}
.card 
{
    border: 2px solid rgba($color: $green, $alpha: 0.4);
    padding: 3.2rem 5.8rem 4rem;
    border-radius: 20px;
    @media (max-width: $r_desk_1280) 
    {
        padding: 2.5rem 3rem 3rem;    
    }
    @media (max-width: $r_desk) 
    {
        padding: 2.5rem 2rem 3rem;    
    }
    &__title
    {
        font-size: 3rem;
        font-family: $font-cormorant;
        padding: 0;
        margin-top: 0;
    }
    &__label
    {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        display: block;
        margin-left: .6rem;
    }
    &__input
    {
        border: 1px solid rgba($color: $green, $alpha: 0.4);
        padding: 2.2rem 3rem;
        margin-bottom: 2.8rem;
        display: block;
        width: 100%;
        box-sizing: border-box;
        border-radius: 20px;
        transition: 0.3s;
        &:focus
        {
            border: 1px solid rgba($color: $green, $alpha: 1); 
            outline: none;
        }
        &:invalid
        {
            border: red;
        }
    }
    &__check
    {
        font-size: 1.2rem;
        color: rgba($color: $green, $alpha: 0.6);
        line-height: 1.5;
        max-width: 360px;
        margin-top: 1.6rem;
        margin-bottom: 0;
        @media (max-width: $r_tab) 
        { 
            text-align: center;
        }
    }
    &__link
    {
        margin-top: 1.2rem;
        @media (max-width: $r_desk) 
        {
            padding: 2.4rem 2.3rem;
        }
        @media (max-width: $r_tab) 
        {
            margin-top: 1.2rem;
            margin: 0 auto;
        }
    }
    &__docs
    {
        text-decoration: none;
        border-bottom: 1px solid #ecedec;
        color: rgba($green, 0.6);
        transition: 0.3s;

        &:hover {
            color: rgba($green, 1);
            border-bottom: 1px solid $green;
        }
    }
}
.footer
{
    border-top: 1px solid rgba($color: $green, $alpha: 0.2);
    padding-bottom: 6rem;
    &__box
    {
        display: flex;
        text-align: center;
        justify-content: space-between;
        margin-top: 79px;
        margin-bottom: 21px;
        @media (max-width: $r_desk_1280) 
        {
            gap: 9%;
        }
        @media (max-width: $r_tab) 
        {
            flex-direction: column;
        }
    }
    &__info 
    {
        display: flex;
        justify-content: space-between;
        flex-basis: 66.5%;
        @media (max-width: $r_desk_1280) 
        {
            flex-basis: auto;
            flex-grow: 1;
        }
        @media (max-width: $r_tab) 
        {
            flex-direction: column;
            margin: 0 auto;
        }
    }
    &__list 
    {
        margin: 0;
        padding-left: 0;
        list-style: none;
        text-align: left;
        @media (max-width: $r_tab) 
        {
            text-align: center;
            margin-bottom: 2rem;
        }
        &:first-child 
        {
            @media (max-width: $r_tab) 
            {
                display: flex;
                justify-content: center;
                gap: 3rem;
            }
        }
    }
    &__item 
    {
        margin-bottom: 2.5rem;
        font-size: 1.8rem;
        &:last-child 
        {
            margin-bottom: 0;
        }
    }
    &__link 
    {
        color: $green;
        font-size: 18px;
        text-decoration: none;
        transition: 0.3s;

        &:hover 
        {
            color: $orange;
        }
    }
    &__contact 
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-basis: 220px;
        @media (max-width: $r_tab) 
        {
            flex-basis: auto;
        }
    }
    &__tel 
    {
        font-size: 2.6rem;
        color: $green;
        margin-bottom: 35px;
        text-decoration: none;
        transition: 0.3s;
        @media (max-width: $r_tab) 
        {
            font-size: 3rem;
            margin-bottom: 1rem;
            margin-top: 1rem;
        }
        &:hover 
        {
            color: $orange;
        }
    }
    &__mail 
    {
        font-size: 18px;
        color: $green;
        margin-bottom: 13px;
        text-decoration: none;
        transition: 0.3s;

        &:hover 
        {
            color: $orange;
        }
    }
    &-social 
    {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        list-style: none;
        padding: 0;
        @media (max-width: $r_tab) 
        {
            padding-left: 0;
        }
        &__vk 
        {
            display: flex;
            opacity: 0.9;
            transition: 0.3s;

            &::before 
            {
                content: '';
                width: 50px;
                height: 50px;
                background-image: url(../img/vk.svg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 25px;
                border: 1px solid rgba($green, 0.4);
                border-radius: 100%;
                opacity: 0.8;
                transition: 0.3s;
            }

            &:hover 
            {
                opacity: 1;
                transition: 0.3s;

                &::before 
                {
                    opacity: 1;
                }
            }
        }

        &__inst 
        {
            display: flex;
            opacity: 0.8;
            transition: 0.3s;

            &::before 
            {
                content: '';
                width: 50px;
                height: 50px;
                background-image: url(../img/instagram.svg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 20px;
                border: 1px solid rgba($green, 0.4);
                border-radius: 100%;
                transition: 0.3s;
            }

            &:hover 
            {
                opacity: 1;
                transition: 0.3s;

                &::before 
                {
                    opacity: 1;
                }
            }
        }

        &__fb 
        {
            display: flex;
            opacity: 0.8;
            transition: 0.3s;

            &::before 
            {
                content: '';
                width: 50px;
                height: 50px;
                background-image: url(../img/facebook.svg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 20px;
                border: 1px solid rgba($green, 0.4);
                border-radius: 100%;
                transition: 0.3s;
            }

            &:hover 
            {
                opacity: 1;
                transition: 0.3s;

                &::before 
                {
                    opacity: 1;
                }
            }
        }
    }
    &__text 
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.6rem;
        @media (max-width: $r_tab) 
        {
            flex-direction: column;
            text-align: center;
        }
    }
    &__copy 
    {
        opacity: 0.6;
    }

   
    &__author-text 
    {
        opacity: 0.6;
    }

    &__author-link 
    {
        color: $green;
        text-decoration: none;
        opacity: 0.6;
        transition: 0.3s;

        &:hover 
        {
            opacity: 1;
        }
    }
}
.modal
{
    max-width: 100%;
    background-color: $wh;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: -400px;
    margin: 0 auto;
    transition: 0.5s;
    padding: 30px 10px 20px 10px;
    box-sizing: border-box;
    height: 344px;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    @media (max-width: $r_mob_500) 
    {
        height: 272px;
    }
    &__nav
    {
        display: block;
        padding-top: 1rem;
        text-align: left;
        opacity: 0.8;
        &::hover
        {
            opacity: 1;
        }
    }
    &__item
    {
        border-bottom: 1px solid rgba($color: $green, $alpha: 0.7);
        padding-top: 1.5rem;
    }
    &__link
    {
        font-size: 2.3rem;
    }
    &__close 
    {
        width: 20px;
        height: 20px;
        background-color: transparent;
        background-image: url(../img/close.svg);
        background-repeat: no-repeat;
        background-size: contain;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 32px;
        right: 11px;
        opacity: 0.7;
        transition: 0.3s;
        &:hover
        {
            opacity: 1;
        }
    }
}
.popup
{
    display: none;
    width: 186px;
    height: auto;
    position: absolute;
    border: none;
    z-index: 1;
    background-color: $wh;
    border-radius: 20px;
    box-shadow: 0 0 25px 1px rgba($color: $green, $alpha: 0.2);
    &:target
    {
        display: block;
    }
    &-pot
    {
        top: 374px;
        right: 203px;
        @media(max-width: $r_desk_full_1750)
        {
            right: 40px;
        }
        @media(max-width: $r_desk_1350)
        {
            top:296px;
            right: 8px;
        }
        @media(max-width: $r_desk_hd)
        {
            top:248px;
        }
    }
    &-avo
    {
        top: 230px;
        left: 937px;
        @media(max-width: $r_desk_full_1750)
        {
            left: 746px;
        }
        @media(max-width: $r_desk_1350)
        {
            top:206px;
            left: 640px;
        }
        @media(max-width: $r_desk_hd)
        {
            top:220px;
            left: 490px;
        }
    }
    &-tom
    {
        top: 736px;
        right: 377px;
        @media(max-width: $r_desk_full_1750)
        {
            right: 190px;
        }
        @media(max-width: $r_desk_1350)
        {
            top:640px
        }
        @media(max-width: $r_desk_hd)
        {
            top:590px;
        }
    }
    &__text
    {
        padding: 2rem 2rem;
    }
    &__head
    {
        font-size: 2rem;
        font-family: $font-cormorant;
        font-weight: 700;
        line-height: 1;
        margin: 0;
        padding-bottom: 5px;
    }
    &__des
    {
        font-size: 1.5rem;
        margin: 0;
        opacity: 0.5;
    }
    &__cost
    {
        margin: 0;
        padding-top: 10px;
    }
    &__close
    {
        display: block;
        width: 15px;
        height: 15px;
        border-color: transparent;
        background-image: url(../img/close.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 15px;
        z-index: 2;
        opacity: 0.7;
        transition: 0.3s;
        &:hover
        {
            opacity: 1;
        }
    }
}

@keyframes shadow
{
    0%
    {
        box-shadow: 5px 5px 15px 0 rgba($color: $green, $alpha: 0.5);
    }
    50%
    {
        box-shadow: 20px 20px 33px 0px rgba($color: $green, $alpha: .5);
    }
    100%
    {
        box-shadow: 5px 5px 15px 0 rgba($color: $green, $alpha: 0.5);
    
    }
}
@keyframes spin
{
    0%
    {
        transform: rotate(0deg);
    }
    50%
    {
        transform: rotate(180deg);
    }
    0%
    {
        transform: rotate(360deg);
    }
}
@keyframes pulse
{
    0%
    {
        opacity: 1;
    }
    50%
    {
        opacity: 0.6;
    }
    100%
    {
        opacity: 1;
    }
}