@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange: #d26a22;
$dark-orange: #cf5c0d;
$wh: #fff;

$font-jost: 'Jost', sans-serif;
$font-cormorant: 'Cormorant', serif;

html
{
    font-size: 10px;
}

body
{
    font-size: 1.6rem;
    font-family: $font-jost;
    color: $green;
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.header
{
    max-width: 1440px;
    margin: 0 auto 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 15px 0 15px;
    gap: 5%;
    &__navigation 
    {
        flex-grow: 1;
        margin-left: 4.5rem;
    }
    &__nav
    {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap: 4.8rem;
    }
    &__link
    {
        color: $green;
        text-decoration: none;
        transition: 0.3s;
        &:hover
        {
            color: $orange;
        }
    }
    &__tel
    {
        color: $green;
        text-decoration: none;
        flex-basis: 200px;
        text-align: right;
        transition: 0.3s;
        font-weight: 500;
        letter-spacing: 0.13rem;
        &:hover
        {
            color: $orange;
        }
    }
    &__cart
    {
        display: block;
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 1.7rem 1.5rem;
        background-image: url(../img/cart.svg);
        background-color: $orange;
        position: relative;
        border: 1px solid $orange;
        cursor: pointer;
        transition: 0.3s;
        &:hover
        {
            background-color: $green;
            border: 1px solid $green;
        }
    }
    &__counter
    {
        font-size: .8rem;
        color: $wh;
        position: absolute;
        right: .6rem;
        top: .6rem;
    }
}
.logo
{
    display: block;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 12rem;
    height: 3.2rem;
    &-footer 
    {
        height: 4.8rem;
        margin-top: 7px;
        flex-basis: 18rem;
    }
}
.container
{
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.main
{
    padding-bottom: 187px;
    z-index: 0;
    &__item
    {
        margin-left: 12.2rem;
        max-width: 378px;
        margin-top: 6.1rem;
    }
    &__link
    {
        margin-top: 5.5rem;
    }
    &__flex
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
    &__cover
    {
        flex-basis: 758px;
        height: 758px;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    &__line
    {
        width: 656px;
        height: 656px;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__image
    {
        width: 92%;
        border-radius: 100%;
        animation: shadow 5s liner infinite;
    }
    &__text 
    {
        padding-top: 3rem;
    }
    &__btn
    {
        cursor: pointer;
        background-color: transparent;
        border: none;
        padding: 0;
        position: absolute;
        color: $green;
        text-align: left;
        transition: 0.3s;
        &:hover
        {
             &::before
            {
                background-color: $orange;
                box-shadow: 0 0 0 4px $wh, 0 0 0 5px $orange;
            }
        }
        &::before
        {
            content: '';
            background-color: $green;
            width: 11px;
            height: 11px;
            border-radius: 100%;
            box-shadow: 0 0 0 4px $wh, 0 0 0 5px $green;
            position: absolute;
        }
        &_1
        {
            top: 41px;
            left: 67px;
            line-height: 150%;
            transition: 0.3s;
            &::before
            {
               bottom: 12px;
               right: -35px;
            }
        }
        &_2
        {
            top: 188px;
            right: 2px;
            line-height: 150%;
            transition: 0.3s;
            &::before
            {
                top: 17px;
                left: -25px;
            }
        }
        &_3
        {
            bottom: -46px;
            right: 244px;
            line-height: 150%;
            transition: 0.3s;
            &::before
            {
                top: -15px;
                left: 13px;
            }
        }
    }
    &__food
    {
        display: block;
        color: rgba($color: $green, $alpha: 0.8);
    }
    &__tomato
    {
        position: absolute;
        top: 839px;
        right: 151px;
        width: 11rem;
        z-index: -1;
    }
    &__cucumber
    {
        position: absolute;
        top: 0;
        left: 719px;
        width: 8.5rem;
        z-index: -1;
    }
    &__pepper
    {
        position: absolute;
        top: 396px;
        left: 69px;
        width: 8.6rem;
        z-index: -1;
    }
    &__beans
    {
        position: absolute;
        top: 796px;
        left: 0;
        width: 10.5rem;
        z-index: -1;
    }
    &__avocado
    {
        position: absolute;
        top: 45px;
        right: 30px;
        width: 18rem;
        z-index: -1;
    }
   
}
.title
{
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 8rem;
    line-height: 1;
    margin: 0;
    &__span
    {
        font-style: italic;
    }
    &_block
    {
        .title__span
        {
            display: block;
        }
    }
}
.description
{
    margin: 0;
    line-height: 1.45;
    &_size-s
    {
        font-size: 1.8rem;
    }
    &_size-m
    {
        font-size: 2.4rem;
    }
}
.link
{
    color: $wh;
    letter-spacing: 0.13rem;
    text-transform: uppercase;
    padding: 2.4rem 4.3rem;
    background-color: $orange;
    box-shadow: 0px 1rem 1.1rem .2rem rgba(207, 92, 13, 0.2);
    text-decoration: none;
    border-radius: 38px;
    display: inline-block;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
    &:hover
    {
        background-color: $dark-orange;
    }
    &_min
    {
        font-size: 1.4rem;
        padding: 2rem 3.4rem;
        box-shadow: 0px 1rem 1.1rem 0.17rem rgba(207, 92, 13, 0.15);
        flex-grow: 1;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
    &_max 
    {
        padding: 1.7rem 4.8rem;
    }
}
.offer
{
    padding-top: 1.7rem;
    padding-bottom: 12.8rem;
    &__text
    {
        margin-top: 6rem;
        max-width: 700px;
    }
}
.slider
{
    overflow: hidden;
    padding-top: 9.4rem;
}
.swiper
{
    overflow: initial;
    &-slide
    {
        border: 1px solid rgba($color: $green, $alpha: 0.4);
        border-radius: 20px;
        padding: 3rem 3.7rem 3.8rem;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: cover;
        transition: 0.3s;
        position: relative;
        z-index: 0;
        &_white
        {
            height: 520px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            background-size: contain;
            padding: 4rem 3.7rem;
            &:hover
            {
                .swiper-slide__hover
                {
                height: 233px;
                opacity: 1;
                }
                &::after
                {
                content: '';
                background-color: rgba($wh, .55);
                width: calc(100% - 4px);
                height: calc(100% - 4px);
                position: absolute;
                top: 2px;
                left: 2px;
                border-radius: 20px;
                z-index: -1;
                }
            }
        }
        &:hover
        {
            box-shadow: 0 0 0 2px rgba($color: $green, $alpha: 0.4) inset;  
        }
        &_milk
        {
            background-image: url(../img/milk.png);
        }
        &_pasta
        {
            background-image: url(../img/pasta.png);
        }
        &_meat
        {
            background-image: url(../img/meat.png);
        }
        &__title
        {
            font-family: $font-cormorant;
            font-size: 3rem;
            margin-bottom: 0;
        }
        &__hover
        {
            height: 0;
            opacity: 0;
            transition: 0.3s;
        }
        &__text
        {
            color:rgba($green, 0.7);
            line-height: 1.5;
            margin-top: 2.5rem;
            margin-bottom: 3.4rem;
            max-width: 263px;
        }
        &__link
        {
            text-transform: uppercase;
            font-weight: 500;
            color: $green;
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 2rem;
            letter-spacing: 0.1rem;
            transition: 0.2s;
            opacity: 0.7;
            &::before
            {
                content: '';
                display: block;
                width: 3rem;
                height: 3rem;
                background-image: url(../img/plus.svg);
                background-size: cover;
                background-repeat: no-repeat;
            }
            &:hover
            {
                opacity: 1;
            }
        }
        &__cover
        {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 322px;
            text-align: center;
        }
        &__image
        {
            height: 100%;
            object-fit: contain;
            max-width: 351px;
            width: 100%;
        }
        &__footer
        {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 5%;
        }
        &__description
        {
            color:rgba($green, 0.7);
            line-height: 1.5;
            margin-top: 2rem;
            margin-bottom: 0rem;
            max-width: 300px;
            font-size: 1.8rem;
            min-height: 55px;
        }
        &__price
        {
            font-size: 2.4rem;
            margin-bottom: 3rem;
        }
    }
    &-slide-trends
    {
        height: 688px;
        width: 469px;
    }
    &-pagination
    {
        display: none;
    }
    &-button-next, &-button-prev
    {
        top: -60px;
        transition: 0.3s;
        &::after 
        {
            color: rgba($green, 0.4);
            font-size: 20px;
        }

        &:hover 
        {
            &::after 
            {
                color: rgba($green, 1);         
            }
        }
    } 
    &-button-next {
        right: -8px;
    }

    &-button-prev {
        left: initial;
        right: 72px;
    }
}
.counter
{
    display: flex;
    &__btn
    {
        cursor: pointer;
        height: 50px;
        width: 50px;
        border: 1px solid $green;
        border-radius: 100%;
        background-color: transparent;
        padding: 0;
        background-position: center center;
    
        &_min
        {
            width: 40px;
            height: 40px;
        }
    }
    
    &__minus
    {
        pointer-events: none;
        background-image: url(../img/minus.png);
        background-size: 14px 2px;
        background-repeat: no-repeat;
        opacity: 0.4;
    }
    &__plus
    {
        background-image: url(../img/plus.png);
        background-size: 14px 14px;
        background-repeat: no-repeat;
    }
    &__input
    {
        text-align: center;
        border: none;
        font-size: 2.4rem;
        width: 46px;
        padding: 0;
        &_min 
        {
            width: 33px;
        }
    }
    & + .link {
        flex-grow: 1;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
}
.about
{
    padding-top: 37px;
    padding-bottom: 154px;
    &__box
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 7rem;
    }
    &__text
    {
        margin-left: 12rem;
        flex-basis: 615px;
    }
    &__list
    {
        margin: 0;
        padding-left: 0;
        display: flex;
        gap: 9rem;
        font-family: $font-cormorant;
        font-style: italic;
        list-style-type: none;
        font-size: 3rem;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &::before {
            content: '';
            width: 84px;
            height: 84px;
            background-position: center center;
            background-repeat: no-repeat;
            border: 1px solid rgba($green, 0.4);
            border-radius: 100%;
            margin-bottom: 1.5rem;
        }
        &:nth-child(1) {
            &::before {
                background-image: url(../img/fruit.png);
                background-size: 44px 41px;
            }
        }
        &:nth-child(2) {
            &::before {
                background-image: url(../img/traditional.png);
                background-size: 40px 40px;
            }
        }
        &:nth-child(3) {
            &::before {
                background-image: url(../img/good.png);
                background-size: 45px 39px;
            }
        }
    }
}
.trends
{
    padding-top: 30px;
    padding-bottom: 135px;
    &__text
    {
        margin-top:4rem;
        letter-spacing: 1px;
    }
}
.catalog
{
    padding-top: 5.9rem;
    padding-bottom: 13.5rem;
    &__text
    {
        margin-top: 3.89rem;
        letter-spacing: 1px;
    }
    &__nav
    {
        display: flex;
        list-style-type: none;
        gap: 2rem;
        padding-left: 0;
        align-items: center;
        margin: 8.5rem 0 5rem 0;
    }
    &__item
    {
        flex-basis: 230px;
        text-align: center;
    }
    &__link
    {
        text-decoration: none;
        color: rgba($color: $green, $alpha: 0.5);
        background-color: transparent;
        border: 1px solid rgba($color: $green, $alpha: 0.5);
        padding: 2.4rem 0;
        border-radius: 40px;
        display: block;
        transition: 0.3s;
        font-size: 1.8rem;
        &:hover
        {
            color: $orange;
            border: 1px solid $orange;
        }
    }
    &__btn 
    {
        cursor: pointer;
        margin: 6rem auto 0;
        border: none;
        background-color: transparent;
        text-transform: uppercase;
        color: $green;
        display: flex;
        align-items: center;
        gap: 1.8rem;
        letter-spacing: 1px;
        opacity: 0.8;
        transition: 0.3s;

        &::before 
        {
            content: '';
            display: block;
            background-image: url(../img/refresh.svg);
            width: 25px;
            height: 25px;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &:hover
        {
            opacity: 1;
        }
    }
}
.catalog-grid
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    &__item
    {
        border: 1px solid rgba($color: $green, $alpha: 0.4);
        padding: 2.7rem 3rem 3.8rem;
        box-sizing: border-box;
        border-radius: 20px;
        transition: 0.3s;
        &:hover 
        {
            box-shadow: 0 0 0 2px rgba($green, 0.4) inset;
        }
    }
    &__cover 
    {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 204px;
        text-align: center;
    }
    &__image 
    {
        width: 100%;
        max-width: 200px;
        height: 100%;
        object-fit: contain;
    }
    &__title 
    {
        font-family: $font-cormorant;
        font-size: 3rem;
        margin-top: 1.7rem;
        margin-bottom: 0;
    }
    &__description 
    {
        font-size: 1.6rem;
        color: rgba($green, 0.7);
        margin-top: 1.8rem;
        margin-bottom: 0;
        min-height: 61px;
        max-width: 250px;
        line-height: 150%;
    }
    &__price 
    {
        font-size: 2.4rem;
        margin-bottom: 3rem;
        margin-top: 0;
    }
    &__footer 
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5%;
    }
}
.delivery
{
    padding-top: 0.4rem;
    padding-bottom: 13.7rem;
    &-box
    {
        display: flex;
        gap: 12%;
        align-items: center;
        margin-top: 5.4rem;
        margin-left: 12.5rem;
        line-height: 150%;
        &__text
        {
            font-size: 1.8rem;
            max-width: 580px;
            &-s
            {
                max-width: 480px;
            }
        }
        &__span
        {
            color: $orange;
        }
        &__link
        {
            color: $green;
            position: relative;
            text-decoration: none;
            transition: 0.3s;
            &:hover
            {
                color: $orange;
                &::after 
                {
                    background-color: $orange;
                }
            }
            &::after 
            {
                content: "";
                width: 100%;
                height: 1px;
                background-color: #858881;
                display: block;
                position: absolute;
                left: 0;
                bottom: 3px;
            }
        }
        &__check
        {
            margin-bottom: 1rem;
        }
        &__right
        {
            margin-right: 12rem;
        }
        &__ul
        {
            display: flex;
            gap: 3rem;
            list-style: none;
            margin-top: 5rem;
            margin-bottom: 0;
            padding-left: 0;
        }
        &__item
        {
            flex-basis: 230px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            cursor: pointer;
            opacity: .4;
            height: 32px;
            transform: scale(1);
            transition: .3s;
                &-card
            {
                background-image: url(../img/card.png);
                max-width: 53px;
            }
            &-visa
            {
                background-image: url(../img/visa.png);
                max-width: 74px;
            }
            &-pay
            {
                background-image: url(../img/paypal.png);
                max-width: 87px;
            }
            &:hover
            {
                opacity: 1;
                transform: scale(1.1);
            }
        }
    
    
    }
}
.contact
{    
    padding-bottom: 16.1rem;
    &-box
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__text
        {
            max-width: 400px;
            flex-grow: 1;
            margin-top: 6.2rem;
            margin-left: 12.3rem;
            line-height: 175%;
            letter-spacing: 0.9px;
        }
        &__form
        {
            flex-basis: 589px;
        }
        &__list 
        {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 2rem;
            padding-left: 0;
            margin-top: 5.8rem;
            list-style: none;
        }
        &__tel, &__mail 
        {
            text-decoration: none;
            font-size: 2.4rem;
            font-weight: 500;
            color: $green;
            display: flex;
            align-items: center;
            gap: 3.4rem;
            letter-spacing: 0;
            &::before 
            {
                content: '';
                display: block;
                width: 3rem;
                height: 3rem;
                background-size: cover;
                background-repeat: no-repeat;
            }
            &:hover 
            {
                color: $orange;
            }
        }
        
        &__tel 
        {
            &::before 
            {
                background-image: url(../img/phone.svg);
                background-size: 29px 30px;
            }
        }
        
        &__mail 
        {
            &::before 
            {
                background-image: url(../img/mail.svg);
            }
        }
    }
}
.card 
{
    border: 2px solid rgba($color: $green, $alpha: 0.4);
    padding: 3.2rem 5.8rem 4rem;
    border-radius: 20px;
    &__title
    {
        font-size: 3rem;
        font-family: $font-cormorant;
        padding: 0;
        margin-top: 0;
    }
    &__label
    {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        display: block;
        margin-left: .6rem;
    }
    &__input
    {
        border: 1px solid rgba($color: $green, $alpha: 0.4);
        padding: 2.2rem 3rem;
        margin-bottom: 2.8rem;
        display: block;
        width: 100%;
        box-sizing: border-box;
        border-radius: 20px;
        transition: 0.3s;
        &:focus
        {
            border: 1px solid rgba($color: $green, $alpha: 1); 
            outline: none;
        }
        &:invalid
        {
            border: red;
        }
    }
    &__check
    {
        font-size: 1.2rem;
        color: rgba($color: $green, $alpha: 0.6);
        line-height: 1.5;
        max-width: 360px;
        margin-top: 1.6rem;
        margin-bottom: 0;
    }
    &__link
    {
        margin-top: 1.2rem;
    }
    &__docs
    {
        text-decoration: none;
        border-bottom: 1px solid #ecedec;
        color: rgba($green, 0.6);
        transition: 0.3s;

        &:hover {
            color: rgba($green, 1);
            border-bottom: 1px solid $green;
        }
    }
}
.footer
{
    border-top: 1px solid rgba($color: $green, $alpha: 0.2);
    &__box
    {
        display: flex;
        text-align: center;
        justify-content: space-between;
        margin-top: 79px;
        margin-bottom: 21px;
    }
    &__info 
    {
        display: flex;
        justify-content: space-between;
        flex-basis: 66.5%;
    }
    &__list 
    {
        margin: 0;
        padding-left: 0;
        list-style: none;
        text-align: left;
    }
    &__item 
    {
        margin-bottom: 2.5rem;
        &:last-child 
        {
            margin-bottom: 0;
        }
    }
    &__link 
    {
        color: $green;
        font-size: 18px;
        text-decoration: none;
        transition: 0.3s;

        &:hover 
        {
            color: $orange;
        }
    }
    &__contact 
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-basis: 220px;
    }
    &__tel 
    {
        font-size: 2.6rem;
        color: $green;
        margin-bottom: 35px;
        text-decoration: none;
        transition: 0.3s;
        &:hover 
        {
            color: $orange;
        }
    }
    &__mail 
    {
        font-size: 18px;
        color: $green;
        margin-bottom: 13px;
        text-decoration: none;
        transition: 0.3s;

        &:hover 
        {
            color: $orange;
        }
    }
    &-social 
    {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        list-style: none;
        padding: 0;
        &__vk 
        {
            display: flex;
            opacity: 0.9;
            transition: 0.3s;

            &::before 
            {
                content: '';
                width: 50px;
                height: 50px;
                background-image: url(../img/vk.svg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 25px;
                border: 1px solid rgba($green, 0.4);
                border-radius: 100%;
                opacity: 0.8;
                transition: 0.3s;
            }

            &:hover 
            {
                opacity: 1;
                transition: 0.3s;

                &::before 
                {
                    opacity: 1;
                }
            }
        }

        &__inst 
        {
            display: flex;
            opacity: 0.8;
            transition: 0.3s;

            &::before 
            {
                content: '';
                width: 50px;
                height: 50px;
                background-image: url(../img/instagram.svg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 20px;
                border: 1px solid rgba($green, 0.4);
                border-radius: 100%;
                transition: 0.3s;
            }

            &:hover 
            {
                opacity: 1;
                transition: 0.3s;

                &::before 
                {
                    opacity: 1;
                }
            }
        }

        &__fb 
        {
            display: flex;
            opacity: 0.8;
            transition: 0.3s;

            &::before 
            {
                content: '';
                width: 50px;
                height: 50px;
                background-image: url(../img/facebook.svg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 20px;
                border: 1px solid rgba($green, 0.4);
                border-radius: 100%;
                transition: 0.3s;
            }

            &:hover 
            {
                opacity: 1;
                transition: 0.3s;

                &::before 
                {
                    opacity: 1;
                }
            }
        }
    }
    &__text 
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.6rem;
    }
    &__copy 
    {
        opacity: 0.6;
    }

   
    &__author-text 
    {
        opacity: 0.6;
    }

    &__author-link 
    {
        color: $green;
        text-decoration: none;
        opacity: 0.6;
        transition: 0.3s;

        &:hover 
        {
            opacity: 1;
        }
    }
}